.ImageView:hover{
    -fx-cursor: hand;
}
.Window{
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}
.top{
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}
.bottom{
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}